<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block sidebar collapse border-right px-1"
    >
      <div class="position-sticky pt-3 ">
        
        <ul class="nav flex-column d-flex justify-content-around">
          
          <li class="nav-item py-2 ">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="fas fa-home"></i> Dashboard
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link" href="#">
              <i class="fas fa-file-alt"></i> Posts
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link" href="#"> <i class="fas fa-file"></i> Pages </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link" href="#">
              <i class="fas fa-camera"></i> Media
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link" href="#">
              <i class="fas fa-cog"></i> Settings
            </a>
          </li>
        </ul>
        <div class="mt-auto">
          <ul class="nav flex-column user-logout">
            <li class="nav-item py-2">
           

              <i class="fas px-4">{{ username }}</i> 

              <button
                (click)="onLogout()"
                type="submit"
                class="btn btn-primary btn-block width-[100%]"
              >
                Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      class="col-md-9 ml-sm-auto col-lg-10 px-md-4"
      style="border-left: 1px solid white"
    >
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <p>We logged in yo! Welcome, {{ username }}!</p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create Project</h5>
              <p class="card-text">
                Manage your Project and publish new content.
              </p>
              <a class="btn btn-primary" (click)="goToCreateProject()">Go to your projects</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Pages</h5>
              <p class="card-text">
                Edit and update your existing pages or create new ones.
              </p>
              <a href="#" class="btn btn-primary">Manage Pages</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Media Library</h5>
              <p class="card-text">Upload and manage your media files.</p>
              <a href="#" class="btn btn-primary">Open Library</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
