.outer {
  height: 100vh; /* Ensures full view height, consider reducing padding or content inside instead */
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-heading {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: larger;
}

#forget,
#signup {
  text-decoration: none;
  cursor: pointer;
  color: #00bfff;
  font-size: larger;
}

#forget:hover,
#signup:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 20px;
}

.input-field {
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid #ddd;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}

.input-field span {
  color: #fff;
  margin-right: 12px;
}

.input-field.error {
  border: 2px solid red;
}

.input-field.error .icon {
  color: red;
}

.text-danger {
  color: red;
  font-size: larger;
}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  background: transparent;
  color: #fff !important;
  font-size: larger;
}

.btn {
  border-radius: 20px;
  background-color: #6a0dad;
  border: none;
  color: #fff;
  padding: 15px;
  width: 100%;
  font-size: larger;
}

.btn:hover,
.btn:default {
  background-color: #6a0dad;
}

.panel {
  background: #17023b;
  border: 2px solid rgba(64, 45, 68, 0.342);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 60px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.text-muted {
  color: #fff;
  font-size: larger;
}

.text-muted a {
  color: #6a0dad;
}

.text-muted a:hover {
  color: #6a0dad;
}

a {
  color: #6a0dad;
}

a:hover {
  color: #6a0dad;
}

.toggle-password {
  cursor: pointer;
}
