<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Sign Up</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signupForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <div class="input-field" [class.error]="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched)">
                    <span class="fa fa-user p-2 icon"></span>
                    <input formControlName="firstName" type="text" placeholder="First Name">
                  </div>
                  <small *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched)" class="text-danger">
                    *First Name is required
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <div class="input-field" [class.error]="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty || signupForm.controls['lastName'].touched)">
                    <span class="fa fa-user p-2 icon"></span>
                    <input formControlName="lastName" type="text" placeholder="Last Name">
                  </div>
                  <small *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty || signupForm.controls['lastName'].touched)" class="text-danger">
                    *Last Name is required
                  </small>
                </div>
              </div>
              <div class="form-group">
                <div class="input-field" [class.error]="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)">
                  <span class="fa fa-envelope p-2 icon"></span>
                  <input formControlName="email" type="text" placeholder="Email">
                </div>
                <small *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" class="text-danger">
                  *Email is required
                </small>
              </div>
              <div class="form-group">
                <div class="input-field" [class.error]="signupForm.controls['userName'].invalid && (signupForm.controls['userName'].dirty || signupForm.controls['userName'].touched)">
                  <span class="fa fa-user p-2 icon"></span>
                  <input formControlName="userName" type="text" placeholder="Username">
                </div>
                <small *ngIf="signupForm.controls['userName'].invalid && (signupForm.controls['userName'].dirty || signupForm.controls['userName'].touched)" class="text-danger">
                  *Username is required
                </small>
              </div>
              <div class="form-group">
                <div class="input-field" [class.error]="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
                  <span class="fa fa-lock p-2 icon"></span>
                  <input formControlName="password" [type]="type" placeholder="Password">
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}} icon"></span>
                </div>
                <small *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)" class="text-danger">
                  *Password is required
                </small>
              </div>
              <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block">Sign Up</button>
              <div class="text-center pt-4 text-white">
                Already have an account? <a id="signup" class="font-weight-bold" href="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
